@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}
:root {
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --ascent1-color: #A43312;
    --ascent2-color: #AABD8C;

    --heading-font: 'Montserat', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: var(--accent2-color);
    --nav-link-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent1-color);

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color:var(--ascent1-color)
    text-align: center;
}

p{
    padding: 15px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--accent2-color);
    color: var(--primary-color);
  }